<div class="alert alert-danger" *ngIf="failed">
    <strong>Failed!</strong> Email or password doesn't exsists.
</div>
<div class="col-md-6 col-md-push-3">
    <div class="well">
        <form [formGroup]="loginForm" (ngSubmit)='onSubmit()'>
            <legend>Sign In</legend>
            <div class="form-group">
                <label>E-mail</label>
                <input type="text" class="form-control" formControlName="email" />
                <div class="alert alert-danger" *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
                    Please enter your email.
                </div>
                <div class="alert alert-danger" *ngIf="loginForm.controls['email'].hasError('pattern')&& loginForm.controls['email'].touched">
                    please check your email adress again.
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password">
                <div class="alert alert-danger" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                    Please enter your password.
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default btn-block" [disabled]="!loginForm.valid">
                    Login
                </button>
            </div>
            <div class="form-group">
                <p class="text-center">Do not have an account?</p>
                <a routerLink="/register" class="btn btn-default btn-block">Create an account</a>
            </div>
        </form>
    </div>
</div>
