<div class="alert alert-success" *ngIf="success">
    <strong>Success!</strong> your account was registered successfully.
</div>
<div class="alert alert-danger" *ngIf="failed">
    <strong>Failed!</strong> another account exists with the same Email.
</div>
<div class="col-md-6 col-md-push-3">
    <div class="well">
        <form [formGroup]="userForm" (ngSubmit)='onSubmit()'>
            <legend>Create your free account</legend>
            <div class="form-group">
                <label>Email</label>
                <input type="text" #EMAIL placeholder="Enter your email" class="form-control input-md" formControlName="email">
                <div class="alert alert-danger" *ngIf="userForm.controls['email'].hasError('required') && userForm.controls['email'].touched">
                    Please enter your email.
                </div>
                <div class="alert alert-danger" *ngIf="userForm.controls['email'].hasError('pattern')&& userForm.controls['email'].touched">
                    please check your email adress again.
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" placeholder="Enter a password" class="form-control input-md" formControlName="password">
                <div class="alert alert-danger" *ngIf="userForm.controls['password'].hasError('required') && userForm.controls['password'].touched">
                    Please enter your password.
                </div>
                <div class="alert alert-danger" *ngIf="userForm.controls['password'].hasError('minlength')&& userForm.controls['password'].touched">
                    your password must be more than 4 letters.
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-block" [disabled]="!userForm.valid">submit</button>
            </div>
        </form>
    </div>
</div>

