/* You can add global styles to this file, and also import other style files */
body {
  background: url('./app/includes/To_Do_List.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}
